//talks-events table
.talks {
    overflow-x: hidden; 
    table-layout: fixed; 
    width: 100%;
    overflow-x: hidden; 
    border-collapse:collapse;}
.talks tr{
    border-bottom:1pt solid black; 
    width: 100%;}
.talks td{
    border: none;
    cursor: pointer;
    width: 100%;}
.talkss th{
    border: none;
    width: 100%;}
.talks .extender{
    display:inline; 
    float: right;}
.talks .spacer{
    height: 10px; 
    outline: none;}
.talks figcaption{text-align: center;}
.talks .event_date{
    display:inline; 
    color: lighten($text-color, 30%); 
    text-transform: uppercase; 
    font-size: 15px; 
    float: right;}
.abstractbox {
overflow: hidden; 
display: -webkit-box; 
-webkit-line-clamp: 3; 
-webkit-box-orient: vertical;
}

// elements used to manage space and style event-postings
.speaker-span{
    font-size: 1.3em;
    white-space: pre;
    text-transform: none;
    color: $text-color;
}
.loc-span{
    white-space: pre-wrap;
    text-transform: none;
    color: $text-color;
    float: left;
    clear: both;
}
.white-span{
    white-space: pre;
    text-transform: none;
    color: $text-color;
}
.affil-span{
    font-size: 1.3em;
    white-space: pre;
    text-transform: none;
    color: rgba($text-color, 0.5);
}
.date-span{
    float: left;
    clear: both;
}
.back-button-events{
	float:left; 
	margin-bottom: 2.5em;}
.speakeraffil{float:left;}
.event-title{margin-bottom: 0;}

// responsiveness for events table
@media screen and (max-width: 860px) {
    .abstractbox{display:none;}
    .talks .date{float: left;}
    .talks .affil{
	    display: block; 
	    display: none;}
}
//responsiveness for events pages
@media screen and (max-width: 800px) {
    .affil-span{display: block;}
    .speaker-span{display: block;}
    .loc-span{display: block;}
    .white-span{display: none;}
    .date-span{
	    float: left; 
	    clear: both; 
	    white-space:nowrap;}
}
