// these classes are used by JS to make the show more/less button work on news
.excerpt {
            padding-top: 1.2em;
        }
.txtcol a{
    font-size:0.8em; 
    cursor: pointer;
}
.txtcol a:hover{
    text-decoration: underline;
}

/* styles for '...' */ 
.truncate {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 7.2em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: 0em;
  padding-right: 1em;
}
/* create the ... */
.truncate:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.truncate:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

@media screen and (max-width: 750px) {
    .excerpt {line-height: 1.0em;}
            .truncate {
                        line-height: 1.0em;
                        /* max-height = line-height (1.2) * lines max number (3) */
                        max-height: 6.0em; }
}
