h1.title {
    @extend .header-txt-shadow;
}

h2.title {
    text-align: left;
}

.subtitle {
    font-weight: normal;
    margin-top: 5px;
    text-shadow: 1px 1px 2px $text-shadow;
}

//#talkfig {id
//  display: table;
//  float: left;
//  padding: 50px;
//}

//#talkcap {
 // display: table-caption;
 // caption-side: bottom;
 // text-align: center;
//}	

// responsiveness for contact-page -->contact.scss
@media screen and (min-width: 860px) {
    #call{clear: both}
}
@media screen and (min-width: 1164px) {
    #call{clear: none}
}
@media screen and (max-width: 860px) {
    #address {clear: both; width: 100%; margin: 30px 0px 0px 0px;}
    #map {clear: both; width: 100%; padding-top: 15px; margin: 30px 0px 0px 0px;}
    #contact {width:45%}
    #call {width:45%; float:right; padding-top: 15px;}

    

    //#talkfig {clear: left;}  		
}

// responsiveness for events table --> events.scss
@media screen and (max-width: 860px) {
    .abstractbox{display:none;}
    .talks .date{float: left;}
    .talks .affil{display: block; display: none;}
}
