// publications table --> publications.scss
.publications {
    overflow-x: hidden; 
    table-layout: fixed; 
    width: 100%;}
.publications tr{
    border-bottom:1pt solid black; 
    width: 100%;}
.publications td{border: none;}
.publications th{border: none;}
.publications td{cursor: pointer;}
.publications .extender{
    display:inline; 
    float: right;}
.publications-h{
     padding-left: 3%;
}
@media screen and (max-width: 768px){
       .publications-h{font-size: 1.2em;}
}

// styling for links in publications table -->publications.scss
.paperlink{
          color: $text-color;
}
.paperlink:hover{
    color: $text-color;
    text-decoration: none;
}
