// styles contact-info box on each member's page 
.contact-info {
    font-size: 0.8em;
    clear: both;
    float: left;
    margin-left: 25px;
    background-color: #E8E8E8; 
    margin-top: 4px; 
    display: inline-block; 
    width: 195px;
}
//back-buttons on member-pages
.back-button-wide{float: right;}
.back-button-narrow{
    float: left; 
    margin-bottom: 0.8em; 
    display: none;}
    .member-container{
    float: left;
}

// for member images
.memberimg{
    float: left;
    width: 250px;
}
.memberimg img{
    display: block;
    width: 100%;
    border-radius: 15%/5%;
}
.membertxt{
    overflow: hidden;
    margin-top: -1.5em;
}
.member-container{
    padding-bottom: 10px;    
}
// responsiveness for member-pages
@media screen and (max-width: 768px){
    .back-button-wide{display: none;}
    .back-button-narrow{display: block;}
    .member-title{margin-bottom: 0;}
    .membertxt{clear: both;}
}
