// styles contact-info box on each member's page 
.contact-info {
    font-size: 0.8em;
    clear: both;
    float: left;
    margin-left: 25px;
    background-color: #E8E8E8; 
    margin-top: 4px; 
    display: inline-block; 
    width: 195px;
}
// responsiveness for member-pages
@media screen and (max-width: 800px) {
    .membertxt{clear: both;}
}
