// styles contact-info box on each member's page 
.contact-info {
    font-size: 0.8em;
    clear: both;
    float: left;
    margin-left: 25px;
}
// responsiveness for member-pages
@media screen and (max-width: 800px) {
    .membertxt{clear: both;}
}
