// publications table --> publications.scss
.publications {
    overflow-x: hidden; 
    table-layout: fixed; 
    width: 100%;}
.publications tr{
    border-bottom:1pt solid black; 
    width: 100%;}
.publications td{border: none;}
.publications th{border: none;}
.publications td{cursor: pointer;}
.publications .extender{
    display:inline; 
    float: right;}
