---
layout: default
---
<!--title and image -->
<article {% if page.banner-img %}class="feature-image"{% endif %}>
    <header id="main" style="background-image: url('{{ site.baseurl }}/assets/img/banners/{{ page.banner-img }}')">
        <a href="{{site.baseurl}}/team" class="back-button-wide">back</a>
        <h2 id="{{ page.title | cgi_escape }}" class="title member-title">{{ page.title }}</h2>
        <a href="{{site.baseurl}}/team" class="back-button-narrow">back to Team</a>
        <p class="meta">
            {{ page.date | date: "%B %-d, %Y" }}
            {% if page.author %} - {{ page.author }}{% endif %}
        </p>
    </header>

    <!-- CONTACT INFO -->
    <div class="member-container">
        <div class="memberimg">
            <img src="{{ site.baseurl }}/assets/img/members/{{ page.img }}">
            <span class="contact-info">
                {% if page.room %}Room: {{page.room}}{% endif %}
                {% if page.tel %}<br>Tel.: {{page.tel}}{% endif %}
                {% if page.fax %}<br>Fax: {{page.fax}}{% endif %}
                {% if page.email %}<br>{{page.email}}{% endif %}
            </span>
        </div>

        <!-- bio -->
        <div class="membertxt">
            <br class="break-mobile" />
            {{page.content}}
        </div>
    </div>
</article>
