---
layout: default
---
{% capture this_year %}{{'now' | date: '%Y'}}{% endcapture %}
{% assign last_year=this_year| minus:1 %}
{% assign talk_year=talk.date|date:'%Y' %}
{% assign talk_year=talk_year|plus:0 %}

<article {% if page.banner-img %}class="feature-image"{% endif %}>
    <header id="main" style="background-image: url('{{ site.baseurl }}/assets/img/banners/{{ page.banner-img }}')">
        <h2 id="{{ page.title | cgi_escape }}" class="title event-title">{{ page.title }}</h2>
        {% if talk_year >= last_year %}
            <a href="{{site.baseurl}}/events" class="back-button-events">back</a>
        {% else %}
            <a href="{{site.baseurl}}/archive" class="back-button-events">back</a>
        {% endif %}
        <div class="meta">
        {% assign time=page.date|date: "%R" %}
        {% if time=="00:00" %}
            {% if page.speaker %}  <div class="speakeraffil" style="float:left;"><span class="speaker-span">by {{ page.speaker }}</span> <span class="affil-spanx"> [{{page.affiliation}}]</span></div>{% endif %}
            <div class="date-span">{{ page.date | date: "%B %-d, %Y" }}</div>
            {% if page.location %}<div class="loc-span">{{page.location}}</div>{% endif %}
        {% else %}
            {% if page.speaker %}  <div class="speakeraffil" style="float:left;"><span class="speaker-span">by {{ page.speaker }}</span> <span class="affil-spanx"> [{{page.affiliation}}]</span></div>{% endif %}
            <div class="date-span">{{ page.date | date: "%B %-d, %Y  %R" }}</div>
            {% if page.location %}<div class="loc-span">{{page.location}}</div>{% endif %}
        {% endif %}
            <br class="break-mobile" />
        </div>
    </header>
    <section class="post-content">
        {% if page.bootstrap %}
            <div class="bootstrap-iso">
        {% endif %}
        {{ content }}
        {% if page.bootstrap %}
            </div>
        {% endif %}
    </section>
</article>
