---
layout: page
---
<div class="project">
			<!--make author-links-->
                        <h5 class="author-heading">
                            {% assign i=0 %}
                            {% assign authors=page.authors %}
                            {% for author in authors %}
                                {% for member in site.members %}
                                    {% if author==member.title %}
                                        {% assign url=member.permalink %}
                                    {% endif %}
                                {% endfor %}
                                {% unless i==0 %}<span style="color: DarkGray;"> ,</span>{% endunless %}
                                <a href="{{site.baseurl}}{{url}}" class="author authorlink" id="{{author}}_lnk">{{author}}</a>
                                {% assign i=i | plus: 1 %}
                            {% endfor %}
                        </h5>
		    <!--project image-->
                    <div class="project-img-container">
                        {% if page.image %}
                            <img src="{{site.baseurl}}/assets/img/research/{{project.image}}" class="project-img">
                        {% else %}
                            <img src="{{site.baseurl}}/{{site.emergency-img}}" style="float: left; padding: 20px 20px 10px 0px; width: 350px;">
                        {% endif %}
        		<!-- make little author image floats-->
                        {% assign leftpix=-30 %}
                        {% for author in page.authors %}
                            {% for member in site.members %}
                                {% if author==member.title %}
                                    {% assign url=member.permalink %}
                                    {% assign img=member.img %}
                                {% endif %}
                            {% endfor %}
                            <div style="position:absolute; min-width:100px;">
                            <a href="{{site.baseurl}}/{{url}}">
                                <img class="author speakerfloat" id="{{author}}_flt" src="{{site.baseurl}}/assets/img/members/{{img}}" style="left: {{leftpix}}px;">
                            </a>
                            </div>
                            {% assign leftpix=leftpix|plus: 35 %}
                            {% endfor %}
                        </div>
			<!-- PROJECT CONTENT TEXT -->
                        <div class="project-text">
                            {{page.content}}
                        </div>
                    </div>
